<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Resfin.Properties.Settings.CZNConnectionString" connectionString="Data Source=DESKTOP-18LMBBO\SQLEXPRESS;Initial Catalog=CZN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Resfin.Properties.Settings.dbBook1ConnectionString"
            connectionString="Data Source=DESKTOP-18LMBBO\SQLEXPRESS;Initial Catalog=dbBook1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>